*{
    margin: 0;
    padding: 0;
}
.first-section{
    background-image: url(images/radish-green-salad-land1.jpg);
    background-position: middle;
    
    
}
h1{
    font-size: 60px;
    background-color: aliceblue;
    color: rgb(21, 199, 21);
}
h2{
    font-size: 30px;
    color: rgb(25, 194, 25);
}
p{
    font-size: 20px;
}
.second-section{
    display: flex;
}
.half-width img{
    width: 85%;
    height: 350px;
    margin-left: 170px;
}
.third-section{
    display: flex;
    margin-top: 60px;
}
.half-widthp2{
    width: 50%;
    padding-left: 70px;
}
.half-widthp2 img{
    width: 65%;
    padding-left: 50px;
}
.picture-paragraph{
    padding-left: 30px;
}

.fourth-section{
    display: flex;
    margin-top: 120px;
    padding-left: 100px;
}
.half-widthp3{
    width: 30%;
    box-shadow: 10px 10px 80px rgb(71, 69, 69);
    border-radius: 10px;
    background-color: rgb(248, 236, 219);

    
    margin-left: 8.5% ;
    margin-right: 5%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.half-widthp3 img{
    height: 300px;
    width: 35%;
}
h3{
    color: rgb(84, 133, 6);
}